<style type="text/css">
.backgroundBox {
  width:200;
  height:200;
  overflow:scroll;
  font:20pt/36pt;
  background: url("public/images/1.jpg") #ff9900 90% 30% no-repeat fixed
}
</style>


<h1>Welcome to Flickr Crit</h1>
<p>Flickr Crit provides you with photo criques by professional photographers all over the Flickr Community! Get you photo critiqued today! <br> 
<br> 
<br> 
<br> 
<br> 

Log in with your Flickr account below! </p>